<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
<h1>Employee Management System</h1>
<hr>
<h2>Update employee</h2>
<form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
<input type="hidden" th:field="*{id}"/>
<input type="text" th:field="*{name}" ><br>
<input type="text" th:field="*{email}" ><br>
<input type="text" th:field="*{salary}" ><br>
<button type="submit">Update employee</button>

</form>
<hr>
<a th:href="@{/}">Back to home</a>
</div>


</body>
</html>